In [ ]:
#pandas
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
dt = pd.read_csv("ied-inversion-extranjera-actividad-economica-2005-2019.csv")

In [ ]:
#Mostrar numero de columnas y numero de filas
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 14 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Año                                                   57 non-null     float64
 1   Trimestre                                             57 non-null     object
 2   Agricultura, Ganadería, Silvicultura, Caza y Pesca    57 non-null     float64
 3   Industria Extractiva, Electricidad                    57 non-null     float64
 4   Industria manufacturera                               57 non-null     float64
 5   Construcción                                          57 non-null     float64
 6   Comercio                                              57 non-null     float64
 7   Restaurantes y alojamiento                            57 non-null     float64
 8   Transportes, comunicaciones, correo y almacenamiento  57 non-null     float64
 9   Servicios profesionales, financieros y corporativos   57 non-null     float64
 10  Servicios sociales                                    57 non-null     float64
 11  Servicios diversos                                    57 non-null     float64
 12  Gobierno y organismos internacionales                 57 non-null     float64
 13  No especificado                                       57 non-null     float64
dtypes: float64(13), object(1)
memory usage: 109.4+ KB

In [ ]:
#estadisticas
media = dt.mean()
print(media)

Año                                                       2011.631579
Agricultura, Ganadería, Silvicultura, Caza y Pesca      306105.561404
Industria Extractiva, Electricidad                       12224.456140
Industria manufacturera                                 612987.210526
Construcción                                            258467.543860
Comercio                                                701738.964912
Restaurantes y alojamiento                              259692.368421
Transportes, comunicaciones, correo y almacenamiento    131751.052632
Servicios profesionales, financieros y corporativos     232135.105263
Servicios sociales                                      251327.122807
Servicios diversos                                      367316.824561
Gobierno y organismos internacionales                   117399.543860
No especificado                                          13852.473684
dtype: float64

<ipython-input-11-2b481d23818f>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  media = dt.mean()

In [ ]:
mediana = dt.median()
print(mediana)

Año                                                       2012.0
Agricultura, Ganadería, Silvicultura, Caza y Pesca      307985.0
Industria Extractiva, Electricidad                       12045.0
Industria manufacturera                                 604364.0
Construcción                                            256376.0
Comercio                                                713142.0
Restaurantes y alojamiento                              255826.0
Transportes, comunicaciones, correo y almacenamiento    128793.0
Servicios profesionales, financieros y corporativos     235673.0
Servicios sociales                                      248205.0
Servicios diversos                                      370538.0
Gobierno y organismos internacionales                   117243.0
No especificado                                          12889.0
dtype: float64

<ipython-input-12-58855bfd55dd>:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  mediana = dt.median()

In [ ]:
desviacion = dt.std()
print(desviacion)

Año                                                         4.151728
Agricultura, Ganadería, Silvicultura, Caza y Pesca      27208.877127
Industria Extractiva, Electricidad                       3362.255700
Industria manufacturera                                 43526.369520
Construcción                                            26712.068479
Comercio                                                49599.149009
Restaurantes y alojamiento                              44750.399604
Transportes, comunicaciones, correo y almacenamiento    17816.135220
Servicios profesionales, financieros y corporativos     51188.326529
Servicios sociales                                      30953.747353
Servicios diversos                                      31671.676042
Gobierno y organismos internacionales                    8382.351925
No especificado                                          4871.590145
dtype: float64

<ipython-input-13-9d875b4d858a>:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  desviacion = dt.std()